# Explore here

In [1]:
# app_naive.py
def main():

    print("Buenos Dias Estrellitas")

In [2]:
import pandas as pd

tmdb_5000_movies= pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv')
tmdb_5000_credits= pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv')

ModuleNotFoundError: No module named 'pandas'

In [ ]:
tmdb_5000_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
tmdb_5000_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [ ]:
import sqlite3
conn = sqlite3.connect('peliculas.db')
tmdb_5000_movies.to_sql('tmdb_5000_movies', conn, index=False, if_exists='replace')
tmdb_5000_credits.to_sql('tmdb_5000_credits', conn, index=False, if_exists='replace')

query = '''
    SELECT tmdb_5000_credits.movie_id, tmdb_5000_movies.title AS title, tmdb_5000_movies.overview, tmdb_5000_movies.genres, tmdb_5000_movies.keywords, tmdb_5000_credits.cast, tmdb_5000_credits.crew
    FROM tmdb_5000_movies
    JOIN tmdb_5000_credits ON tmdb_5000_movies.title = tmdb_5000_credits.title;
'''

total_data = pd.read_sql(query, conn)

conn.close()

total_data

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [ ]:
import pandas as pd
import json
from pandas import json_normalize

#Seleccionamos las columnas

# FunciÃ³n load_json_safe:
# Esta funciÃ³n toma una cadena JSON (json_str) y devuelve su representaciÃ³n de Python mediante json.loads().
# Se incluye un manejo seguro de errores utilizando un bloque try-except para evitar problemas con cadenas no vÃ¡lidas de JSON.

def load_json_safe(json_str, default_value = None):
    try:
        return json.loads(json_str)
    except (TypeError, json.JSONDecodeError):
        return default_value

# TransformaciÃ³n de la columna "genres" y "keywords":
# Se utiliza la funciÃ³n apply de Pandas en la columna "genres" para aplicar una transformaciÃ³n a cada elemento de la columna.
# Se usa json.loads para convertir la cadena JSON en una lista de diccionarios y luego se extraen los nombres de cada elemento.
# Se verifica si el valor no es nulo (pd.notna(x)) y, en caso contrario, se asigna None.

total_data["genres"] = total_data["genres"].apply(lambda x: [item["name"] for item in json.loads(x)] if pd.notna(x) else None)
total_data["keywords"] = total_data["keywords"].apply(lambda x: [item["name"] for item in json.loads(x)] if pd.notna(x) else None)
# TransformaciÃ³n de la columna "cast":
# Selecciona a los tres primeros actores utilizando la sintaxis de list slicing.
total_data["cast"] = total_data["cast"].apply(lambda x: [item["name"] for item in json.loads(x)][:3] if pd.notna(x) else None)
total_data["crew"] = total_data["crew"].apply(lambda x: " ".join([crew_member['name'] for crew_member in load_json_safe(x) if crew_member['job'] == 'Director']))
total_data["crew"] = total_data["crew"].apply(lambda x: [str(crew_member) for crew_member in x])
total_data["overview"] = total_data["overview"].apply(lambda x: [x])
total_data["crew"] = total_data["crew"].apply(lambda x: [str(crew_member) for crew_member in x])
total_data["crew"] = total_data["crew"].apply(lambda x: ",".join(x).replace(",", ""))


total_data.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski
2,206647,Spectre,[A cryptic message from Bondâ€™s past sends him ...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",Sam Mendes
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton

In [ ]:
total_data["crew"] = total_data["crew"].apply(lambda x: " ".join(x).replace(" ", ""))
total_data["cast"] = [', '.join([nombre.replace(" ", "") for nombre in actor]) for actor in total_data["cast"]]
total_data["genres"] = [', '.join([gen.replace(" ", "") for gen in genre]) for genre in total_data["genres"]]
total_data["keywords"] = [', '.join([word.replace(" ", "") for word in keywords]) for keywords in total_data["keywords"]]
total_data.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","Action, Adventure, Fantasy, ScienceFiction","cultureclash, future, spacewar, spacecolony, s...","SamWorthington, ZoeSaldana, SigourneyWeaver",JamesCameron
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","Adventure, Fantasy, Action","ocean, drugabuse, exoticisland, eastindiatradi...","JohnnyDepp, OrlandoBloom, KeiraKnightley",GoreVerbinski
2,206647,Spectre,[A cryptic message from Bondâ€™s past sends him ...,"Action, Adventure, Crime","spy, basedonnovel, secretagent, sequel, mi6, b...","DanielCraig, ChristophWaltz, LÃ©aSeydoux",SamMendes
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"Action, Crime, Drama, Thriller","dccomics, crimefighter, terrorist, secretident...","ChristianBale, MichaelCaine, GaryOldman",ChristopherNolan
4,49529,John Carter,"[John Carter is a war-weary, former military c...","Action, Adventure, ScienceFiction","basedonnovel, mars, medallion, spacetravel, pr...","TaylorKitsch, LynnCollins, SamanthaMorton",AndrewStanton

In [ ]:
total_data["tags"] = total_data["overview"].astype(str) + total_data["genres"].astype(str) + total_data["keywords"].astype(str) + total_data["cast"].astype(str) + total_data["crew"].astype(str)
total_data.drop(columns = ["overview", "genres", "keywords", "cast", "crew"], inplace = True)
total_data.head()

,movie_id,title,tags
0,19995,Avatar,"['In the 22nd century, a paraplegic Marine is ..."
1,285,Pirates of the Caribbean: At World's End,"['Captain Barbossa, long believed to be dead, ..."
2,206647,Spectre,['A cryptic message from Bondâ€™s past sends him...
3,49026,The Dark Knight Rises,"[""Following the death of District Attorney Har..."
4,49529,John Carter,"[""John Carter is a war-weary, former military ..."

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(total_data["tags"])

In [ ]:
from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(n_neighbors = 6, algorithm = "brute", metric = "cosine")
model.fit(tfidf_matrix)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=6)

In [ ]:

def recommend(movie):
    movie_index = total_data[total_data["title"] == movie].index[0]
    distances, indices = model.kneighbors(tfidf_matrix[movie_index])
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    similar_movies = [(total_data["title"][i], distances[0][j]) for j, i in enumerate(indices[0])]
    return similar_movies[1:]

input_movie = "Avatar"
recommendations = recommend(input_movie)
print("Film recommendations '{}'".format(input_movie))
for movie, distance in recommendations:
    print("- Film: {}".format(movie))

Film recommendations 'Avatar'
- Film: Battle: Los Angeles
- Film: Falcon Rising
- Film: Aliens vs Predator: Requiem
- Film: Apollo 18
- Film: Predators

In [ ]:
from pickle import dump

dump(model, open("../models/knn_neighbors-6_algorithm-brute_metric-cosine.sav", "wb"))

In [ ]:
import streamlit as st
from app import main

def main_streamlit():
    st.title("App de prueba en Streamlit")
    main()

if __name__ == "__main__":
    main_streamlit()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB
Film recommendations 'Avatar'
- Film: Battle: Los Angeles
- Film: Falcon Rising
- Film: Aliens vs Predator: Requiem
- Film: Apollo 18
- Film: Predators

ImportError: cannot import name 'main' from 'app' (c:\Users\Usuario\Desktop\Tareas 4geeks\Streamlit\app.py)